body{
 margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background:black;
  font-family:Arial ,sans serif;
}
.calculadora{
  background: white;
  padding: 30px;
  border-radius: 25px;
  width:350px;
}

h1{
  text-align:center;
  margin-bottom:20px;

  #display{
  width:100%;
  heigtht:60px;
  font-size:30px;
  text-align:rigth;
  margin-bottom:20px;
  box-sizing:border-box;
  padding:10px;
  }
  

.botoes{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button{
  height: 70px;
  font-size:28px;
  bordder-radius:10px
  cursor:pointer;
}
  
button:hover{
  transform:scale(1.5);
}
  .igual{
    grid-row:span 2;
    background: black;
    color:white;
  }
  .zero{
    grid-column:span 2;
  }




  
  
